#red-ui-header > ul {
	filter: grayscale();
	pointer-events: none;
	opacity: 0;
	display: none;
}

#red-ui-header {
	border-bottom-color: green;
}

#red-ui-palette {
	filter: grayscale();
	pointer-events: none;
	opacity: 0.5;
}
